/* head */
.header {
    background: #cacaca96;
    border-radius: 10px;
    padding: 20px;
    margin: 2% 4%;
    min-width: 150px;
}
.logo {
    font-size: 30px;
    font-weight: 700;
    color: snow;
    text-shadow: beige;
    vertical-align: auto;
}
.nav {
    font-size: 14px;
    text-transform: uppercase;
}
.nav_btn {
    color: snow;
    text-decoration: none;
    transition: color .2 linear;
    display: inline-block;
    vertical-align: top;
    margin: 10px;
}
.nav_btn:hover {
    color: #defa25
}
.container_head {
    display: flex;
    justify-content: space-between;
}
/* head */

/* main */
body {
    background: url('../jpg/space.jpg') no-repeat center;
}
.main_content {
    font-family: cursive;
    color: aliceblue;
    width: 80%;
    height: 90%;
}
.main {
    background: #cacaca96;
    border-radius: 10px;
    margin: 2% 4%;
    min-height: 550px;
    min-width: 150px;
    padding: 1%;
}

.map {
    margin: 0 auto;
    display: block;
    margin-top: 25px;
    max-width: 800px;
    max-height: 500px;
}
.text {
    margin-right: 200px;
}
.link_text:hover {
    color: rgb(67, 67, 86);
}
/* main */

/* foot */
.foot {
    display: flex;
    justify-content: space-between;
}
/* foot */